* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background: #0f172a;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
    color: #94a3b8;
}

button {
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* Cards */
.card {
    background: #020617;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background: #38bdf8;
    color: black;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    list-style: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}
